html {
    font-size: 22px;
}

body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}

p {
    font-family: Verdana, Helvetica, sans-serif;
    margin: 2px auto;
}

h4 {
    font-family: Verdana, Helvetica, sans-serif;
    margin: 0 auto;
}

.maxP {
    font-family: Verdana, Helvetica, sans-serif;
    margin: 0 auto;
    border: 2px solid rgb(78, 167, 5);
    padding: 20px;
}

p.riquadro {
    font-family: Verdana, Helvetica, sans-serif;
    border: 2px solid rgb(22, 214, 105);
}

div {
    column-count: 2;
}